body {
  margin: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px;
  font-size: 18px;
}
nav a {
  color: white;
}
.landing {
  background: url("./assets/images/bg-image.jpg") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
